
/* CSS Document */

/* Login Button Mouse Hover effect*/
/*.LoginButton{
    background:url("../Images/Login_original.png") no-repeat;
   width:86px;
   height:31px;
}
.LoginButton:hover{
    background:url("../Images/Login_hover.png");

}*/

.ResetButton{
    background:url("../Images/Reset_original_r.png") no-repeat;
   width:86px;
   height:31px;
}
.ResetButton:hover{
    background:url("../Images/Reset_hover_r.png");

}

.pageDataLogin
{
	margin:0 auto;
}

.loginTable
{
	border: 0px solid #DEA36B;
    margin: 0 auto;
    padding-left:0; padding-right:0;
    height: 195px;
    width: 445px;
}

.loginTable th
{
	background:#D28535;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding-left:5px; padding-right:0; padding-top:5px; padding-bottom:5px
}

.loginTable td
{
	color:#000;
	font-size:12px;
	text-align:left;
	padding:3px 0 5px 2px;
	background-color:#FEEEDE;
}

.loginInput
{
	margin:0 0 -15px 0;
}

.loginInput td
{
	padding-top:4px;
	padding-bottom:4px;
}

.loginInput .loginLabels
{
	text-align:right;
	font-weight:bold;
	color:#000;
	vertical-align:middle;
	width:110px;
}

.loginInput .remLoginDetails
{
	font-size:11px;
	text-align:left;
	padding-left:8px;
}

.loginInput .loginLabelIP
{
	text-align:left;
	padding-left:8px;
}

.loginInput .logIPField
{
	padding-left:2px;
}

.loginInput .forgotPW
{
	color:#064287;
}

.loginInput .lognBtns
{
	width:153px;
}

.loginInput .lognBtns td
{
	padding:0;
	margin:0;
	text-align:left;
}

.lbluser
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: NORMAL;
	color: #FFFFFF;
	/*text-align:right;*/
} 

.lblMainMsg
{
	font-family: Arial;
	font-size:12pt;
	font-weight: Bold;
	color:#FF0000;
	/*text-align:right;*/
}

.lblconfidentialText
{
	font-family: Arial;
	font-size:9pt;
	font-weight: Bold;
	color:#000000;
	/*text-align:right;*/
}

.lblMsg_LoginControl
{
	font-family: Arial, Verdana;
	font-size: 12px;
	color: #064287;
	font-weight: normal;
	text-align :center;
}


/*----New---^-_-^--Login---*/

